*{
    font-family: 'Varela Round', sans-serif;
}
.post{
    
    margin-left: -8px;
    margin-right: -8px;
    .date{
        float: right;
        font-size: 12px;
        margin-top: 4px;
    }
    .header{
        margin-left: -16px;
        margin-right: -16px;
    }
    /*
    ion-card-content{
        padding-bottom: 0;
    }
    */
    .chips{
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: -12px;
    }
    ion-slides{
        margin-left: -16px;
        margin-right: -16px;
    }
    .footer{
        text-align: center;
        margin-top: 10px;
    }
}